{% assign author = site.data.authors %}
<div class="authorbox">
    <div class="avatar">
        {% if author.avatar %}
            <img src="{{ author.avatar }}" alt="{{ author.id }} avatar">
        {% endif %}
    </div>
    <div class="info">
        {% if author.bio%}
            <p class="bio">{{ author.bio }}</p>
        {% endif %}
        {% if author.facebook or author.twitter or author.instagram or author.email %}
            <!-- <p class="social">
                {% include icon_nav.html %}
            </p> -->
        {% endif %}
    </div>
 </div>