<section class="main_menu">
    <div class="content">
        <span id="logo-name"><a href="/">Satwik Kansal's Projects</a></span>
        <nav id="menu">
            <ul>
                <li class="parent"><a href="#"></a>
                    <ul>
                        <li>
                            <a href="{{ site.baseurl | replace: '//', '/' }}/page">Page</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl | replace: '//', '/' }}/page-full">Full-Width Page</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl | replace: '//', '/' }}/archive">Archive</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl | replace: '//', '/' }}/typography">Typography</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>
