<section class="main_menu">
    <div class="content">
        <div id="logo-name"><a href="/">Satwik's Projects</a></div>
        <a href="http://www.satwikkansal.xyz"><i class="fa fa-home"></i></a>
        <nav id="menu">
            <ul>
                <li class="parent"><i class="fa fa-bars"><a href="#"></a></i>
                    <ul>
                        <li>
                            <a href="http://www.satwikkansal.xyz">Home</a>
                        </li>
                        <li>
                            <a href="{{ site.blog }}">Blog</a>
                        </li>
                        <li>
                            <a href="{{ site.github }}">Github</a>
                        </li>
                        <li>
                            <a href="{{ site.linekdin }}">Linkedin</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</section>
